<div class="@WrapperClasses">
    <iframe @ref="iframeElement"
            @key="IframeKey"
            src="@Src"
            style="width:@Width; height:@Height;"
            @attributes="IframeAttributes"
            @onload="OnLoadHandler">
    </iframe>
</div>
