.iframe-wrapper {
    width: 100%;
    overflow: hidden;
}

    .iframe-wrapper.scrollable {
        overflow: auto;
    }

    .iframe-wrapper iframe {
        display: block;
        border: none;
    }
