<div class="iframe-wrapper" style="width:@Width;height:@Height">
    <iframe @ref="iframeElement"
            src="@Src"
            @attributes="AdditionalAttributes"
            @onload="OnLoadHandler">
    </iframe>
</div>